<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuperViewInfo</key>
	<dict>
		<key>size</key>
		<string>{720, 960}</string>
	</dict>
	<key>SubViewArray</key>
	<array>
		<dict>
			<key>pointArray</key>
			<array>
				<string>{20,20}</string>
				<string>{700,20}</string>
				<string>{700,154}</string>
				<string>{20,274}</string>
			</array>
        </dict>
        <dict>
			<key>pointArray</key>
			<array>
				<string>{20,286}</string>
				<string>{700,166}</string>
				<string>{700,418}</string>
				<string>{20,540}</string>
			</array>
        </dict>
        <dict>
			<key>pointArray</key>
			<array>
				<string>{20,552}</string>
				<string>{700,430}</string>
				<string>{700,678}</string>
				<string>{20,798}</string>
			</array>
        </dict>
        <dict>
			<key>pointArray</key>
			<array>
				<string>{20,810}</string>
				<string>{700,690}</string>
				<string>{700,940}</string>
				<string>{20,940}</string>
			</array>
        </dict>
	</array>
</dict>
</plist>
