<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuperViewInfo</key>
	<dict>
		<key>size</key>
		<string>{720, 960}</string>
	</dict>
	<key>SubViewArray</key>
	<array>
		<dict>
			<key>pointArray</key>
			<array>
				<string>{20,20}</string>
				<string>{354,20}</string>
				<string>{354,474}</string>
				<string>{20,474}</string>
			</array>
        </dict>
        <dict>
			<key>pointArray</key>
			<array>
				<string>{20,486}</string>
				<string>{354,486}</string>
				<string>{354,940}</string>
				<string>{20,940}</string>
			</array>
        </dict>
        <dict>
			<key>pointArray</key>
			<array>
				<string>{366,20}</string>
				<string>{700,20}</string>
				<string>{700,318}</string>
				<string>{366,318}</string>
			</array>
        </dict>
        <dict>
			<key>pointArray</key>
			<array>
				<string>{366,330}</string>
				<string>{700,330}</string>
				<string>{700,629}</string>
				<string>{366,629}</string>
			</array>
        </dict>
        <dict>
			<key>pointArray</key>
			<array>
				<string>{366,641}</string>
				<string>{700,641}</string>
				<string>{700,940}</string>
				<string>{366,940}</string>
			</array>
        </dict>	</array>
</dict>
</plist>
