<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuperViewInfo</key>
	<dict>
		<key>size</key>
		<string>{720, 960}</string>
	</dict>
	<key>SubViewArray</key>
	<array>
		<dict>
			<key>pointArray</key>
			<array>
				<string>{20,20}</string>
				<string>{354,20}</string>
				<string>{354,319}</string>
				<string>{20,319}</string>
			</array>
</dict>
<dict>
			<key>pointArray</key>
			<array>
				<string>{366,20}</string>
				<string>{700,20}</string>
				<string>{700,319}</string>
				<string>{366,319}</string>
			</array>
</dict>
<dict>
			<key>pointArray</key>
			<array>
				<string>{20,331}</string>
				<string>{700,331}</string>
				<string>{700,629}</string>
				<string>{20,629}</string>
			</array>
</dict>
<dict>
			<key>pointArray</key>
			<array>
				<string>{20,641}</string>
				<string>{354,641}</string>
				<string>{354,940}</string>
				<string>{20,940}</string>
			</array>
</dict>
<dict>
			<key>pointArray</key>
			<array>
				<string>{366,641}</string>
				<string>{700,641}</string>
				<string>{700,940}</string>
				<string>{366,940}</string>
			</array>
</dict>
	</array>
</dict>
</plist>
